body{
    background-color: #333233;
}
h1{
    text-align: center;
    color: white;
}


#container
{
    height: 300px;
    width: 500px;
    background-color: #0E2431;
    margin: auto;
    border: 5px solid green;
    text-align: center;
}

p{
    color: white;
    font-size: 25px;
}

#input
{
    width: 200px;
    margin: 25px auto;

}
#btn
{
    margin: 25px auto auto 5px;
}